:root {
  --black: #000;
  --white: white;
  --grey: #424242;
  --grey-dark: #242424;
  --grey-light: #8f8f8f;
}

.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg");
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: #fff;
  font-family:
    PT Mono,
    sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--white);
  padding-bottom: 5px;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.25rem;
}

ol {
  margin-top: 0;
  margin-bottom: 0.625rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.625rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 0.25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 32px;
  margin-bottom: 32px;
}

figcaption {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.8rem;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
}

.page-wrapper {
  overflow: clip;
}

.container-large {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-global {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_form-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.main-wrapper {
  min-height: calc(100vh - 66px);
}

.container-medium-landscape {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.heading-style-h1 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.heading-style-h3 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.display-inline {
  display: inline;
}

.spacing-block-small {
  width: 100%;
  height: 1rem;
}

.spacing-block-custom2 {
  width: 100%;
  height: 1.25rem;
}

.form_input {
  border: 1px solid var(--grey);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
}

.form_message-error {
  margin-top: 0.75rem;
  padding: 0.75rem;
}

.padding-section-large {
  padding-top: 12rem;
}

.display-flex {
  display: flex;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.resources_items {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.resources_items.single {
  flex-flow: column;
  display: flex;
}

.resources_items.more-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.text-style-link {
  text-decoration: underline;
}

.heading-style-h2 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-style-label {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  bottom: -2px;
}

.text-style-label.tiny {
  font-size: 1rem;
}

.resources_group {
  grid-row-gap: 2rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.spacer-custom-1 {
  width: 100%;
  padding-top: 1.25rem;
}

.text-size-medium {
  font-size: 1rem;
}

.section_resources {
  min-height: 80vh;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.overflow-scroll {
  overflow: scroll;
}

.text-align-right {
  text-align: right;
}

.padding-section-xlarge {
  padding-top: 14rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.padding-secio {
  padding-top: 5rem;
}

.spacer-custom-3 {
  width: 100%;
  padding-top: 2.5rem;
}

.heading-style-h5 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-style-h4 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.spacer-tiny {
  width: 100%;
  padding-top: 0.125rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.text-size-small {
  font-size: 0.875rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.spacer-large {
  width: 100%;
  padding-top: 3rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
}

.resources_heading {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 1.875rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.resources_heading.no-border {
  border-bottom-style: none;
  padding-bottom: 0;
}

.template-style-heading-split {
  background-color: #d2d6d9;
  width: 1px;
  height: 100%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  transform: rotate(7deg);
}

.template-style-heading-split.margin-small {
  margin-left: 1rem;
  margin-right: 1rem;
}

.template-style-heading-split.margin-large {
  margin-left: 2rem;
  margin-right: 2rem;
}

.template-style-heading-split.margin-smaller {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.spacer-custom-2 {
  width: 100%;
  padding-top: 1.5rem;
}

.text-weight-light {
  font-weight: 300;
}

.overflow-visible {
  overflow: visible;
}

.case-content_rich-text {
  line-height: 1.5;
}

.resources_item-content {
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 2.5rem 2.5rem 4rem;
  display: flex;
}

.resources_item-content.center-horizontal {
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.text-weight-bold {
  font-weight: 700;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
}

.overflow-auto {
  overflow: auto;
}

.container-full {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.resources_structure-out {
  border: 1px solid #1e7bfa;
  width: 100%;
  position: relative;
}

.resources_structure-out.fill-bg {
  background-image: url("../images/webflow-spacing-bg-final_1webflow-spacing-bg-final.png");
  background-position: 0 0;
  background-size: 80px;
}

.container-xsmall {
  width: 100%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.text-style-all-caps {
  text-transform: uppercase;
}

.resources_groups {
  grid-row-gap: 4rem;
  flex-direction: column;
  display: flex;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.resources_item {
  background-color: var(--grey-dark);
  color: var(--white);
  border: 1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.text-size-large {
  font-size: 1.125rem;
}

.display-inline-block {
  display: inline-block;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.text-weight-normal {
  font-weight: 400;
}

.text-align-left {
  text-align: left;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.display-block {
  display: block;
}

.resources_item-label {
  grid-column-gap: 0.5rem;
  color: #8c9399;
  border-bottom: 1px solid #ffffff12;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  margin-right: 0;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  display: flex;
  position: relative;
}

.resources_structure-in {
  background-color: var(--grey-dark);
  pointer-events: none;
  width: 100%;
  height: 3rem;
  position: relative;
}

.resources_structure-in.utility {
  background-color: #2d40ea1a;
}

.resources_structure-in.utility.full-height {
  height: 100%;
}

.padding-section-medium {
  padding-top: 8rem;
}

.resources_section {
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
}

.text-style-muted {
  opacity: 0.6;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.resources_component {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  flex-direction: column;
  display: flex;
}

.spacer-xsmall {
  width: 100%;
  padding-top: 0.5rem;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.resources_class {
  color: #fff;
  background-color: #1e7bfa;
  border-radius: 4px;
  padding: 0.5rem 0.625rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3;
}

.resources_class.custom-border {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.resources_class.html-tag {
  color: #f6f6f3;
  background-color: #cf4bb3;
  border-style: none;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.heading-style-h6 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: 0.25rem;
}

.pointer-events-none {
  pointer-events: none;
}

.container-small {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.resources_subheading {
  font-size: 1rem;
  font-weight: 500;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.resources_class-wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.text-style-italic {
  font-style: italic;
}

.overflow-hidden {
  overflow: hidden;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.text-weight-medium {
  font-weight: 500;
}

.resources_note {
  grid-column-gap: 1rem;
  background-color: var(--grey-dark);
  color: var(--grey-light);
  padding: 2rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  transition: box-shadow 0.2s;
  display: flex;
}

.resources_note:hover {
  box-shadow: 1px 1px 4px #0000001a;
}

.resources_note.full {
  width: 100%;
}

.resources_note-content {
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  max-width: 29rem;
  display: flex;
}

.resources_note-content.large {
  max-width: 33rem;
}

.link {
  color: var(--white);
}

.resources_grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.resources_licenses-group {
  grid-row-gap: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.resources_link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

.resources_license-wrap {
  aspect-ratio: 3 / 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.resources_license-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.resources_changelog-list {
  grid-row-gap: 3rem;
  flex-direction: column;
  display: flex;
}

.resources_changelog-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 0.5fr 1fr;
  grid-auto-columns: 1fr;
  font-size: 1rem;
  display: grid;
}

.resources_video {
  margin-bottom: -1px;
}

.resources_video-wrap {
  overflow: clip;
}

.text-color-grey-400 {
  color: var(--grey-light);
}

.resources_fonts {
  grid-column-gap: 2rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  width: 100%;
  display: grid;
}

.resources_font-block {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  transition: opacity 0.2s;
  display: flex;
}

.resources_font-block:hover {
  opacity: 0.7;
}

.resources_font-1 {
  font-family:
    Mona Sans,
    sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
}

.section_home-header {
  justify-content: center;
  align-items: center;
  height: 75vh;
  display: flex;
  position: sticky;
  top: 0;
}

.home-header_image-wrap {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  aspect-ratio: 2 / 2.5;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  display: flex;
  position: relative;
  overflow: clip;
}

.home-header_image {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.navbar {
  z-index: 99;
  mix-blend-mode: difference;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  inset: 0% 0% auto;
}

.navbar_component {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar_logo {
  width: 9rem;
}

.navbar_links {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.navbar_link {
  text-transform: uppercase;
}

.navbar_link:hover {
  text-decoration: underline;
}

.work-list_content {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}

.work-list_content.black-text {
  background-color: var(--white);
  color: var(--black);
}

.work-list_image {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 120vh;
  min-height: 120vh;
}

.work-list_infos {
  width: 100%;
  position: absolute;
}

.work-list_infos-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section_home-cta {
  z-index: 3;
  background-color: var(--black);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 1.5rem;
  display: flex;
  position: relative;
}

.footer_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_text {
  color: #8f8f8f;
  font-size: 0.75rem;
  font-weight: 400;
}

.footer_link {
  color: var(--grey-light);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  display: inline-block;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_links {
  grid-column-gap: 0.35rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.home-cta_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.sections_home-footer {
  position: relative;
}

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.home-footer_wrap {
  z-index: 10;
  position: absolute;
  inset: auto 0% 0%;
}

.button-text {
  z-index: 2;
  text-transform: uppercase;
  position: relative;
}

.about-awards_list {
  grid-row-gap: 2rem;
  flex-flow: column;
  flex: 1;
  display: flex;
}

.text-style-label-2 {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: Inconsolata, monospace;
  font-size: 1.125rem;
  font-weight: 700;
}

.text-style-label-2.small {
  font-size: 0.85rem;
}

.about-social_wrap {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.about-awards_image-wrap {
  z-index: 5;
  aspect-ratio: 1;
  height: 12rem;
  margin-top: -6rem;
  margin-left: -6rem;
  display: block;
  position: absolute;
  overflow: hidden;
}

.about-header_component {
  padding-top: 80vh;
  overflow: hidden;
}

.about_content {
  z-index: 5;
  width: 50%;
  max-width: 44.625rem;
  margin-left: auto;
  margin-right: 5%;
  position: relative;
}

.about-header_image {
  aspect-ratio: 2 / 3;
  object-fit: cover;
  width: 112%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  transform: perspective(500px);
}

.about-awards_content {
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about-clients_logo {
  max-width: 60%;
  height: 1.5rem;
}

.about-awards_icon {
  width: 0.75rem;
}

.button-hover-bg {
  z-index: 1;
  outline-offset: 0px;
  background-color: #fff;
  border-radius: 3rem;
  outline: 1px solid #fff;
  width: 100%;
  height: 104%;
  margin-top: 1px;
  position: absolute;
  inset: 100% auto auto 0%;
}

.about-header_gradient-pic {
  z-index: 3;
  pointer-events: none;
  background-image: linear-gradient(#0000, #000);
  width: 100%;
  height: 80%;
  position: absolute;
  inset: auto 0% 0%;
}

.pill {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  background-color: #3c3f42;
  border-radius: 5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 1.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
}

.about-clients_wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  perspective: 1743px;
  flex: 1;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.about-awards_title-wrap {
  grid-column-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about-awards_image {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}

.about-awards_item {
  grid-column-gap: 2rem;
  border: 1px solid var(--grey);
  cursor: none;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  display: flex;
  position: relative;
}

.about-awards_item:hover {
  z-index: 5;
}

.about_heading {
  width: 150px;
  margin-left: -1rem;
  padding-left: 1rem;
  overflow: hidden;
}

.about_divider {
  background-color: var(--grey);
  width: 100%;
  height: 1px;
}

.pill-row {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-awards_image-wrapper {
  opacity: 0;
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 0%;
}

.about-clients_wrap {
  aspect-ratio: 2;
  background-color: var(--grey-dark);
  border: 1px solid #0000;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: border-color 0.2s;
  display: flex;
}

.about-clients_wrap:hover {
  border: 1px solid #ffffff36;
}

.button {
  grid-column-gap: 0.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 9rem;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 3rem;
  font-family:
    PT Mono,
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button.hover {
  transition:
    color 0.2s,
    background-color 0.2s;
}

.button.hover:hover {
  background-color: var(--white);
  color: var(--black);
}

.about-header_text-wrap {
  z-index: 3;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1rem;
  display: flex;
  position: relative;
}

.about_section-content {
  grid-column-gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.about-header_image-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  display: flex;
  position: absolute;
  inset: 0% auto auto 0%;
  overflow: hidden;
}

.about_component {
  grid-row-gap: 6rem;
  flex-flow: column;
  display: flex;
}

.text-color-grey {
  color: #888;
}

.archive-list_lightbox-image {
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  width: 100%;
}

.archive-list_list {
  grid-column-gap: 10rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.archive-list_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.archive-list_lightbox {
  width: 100%;
}

.contact-form_component {
  display: flex;
}

.contact-form_field {
  border: 1px solid var(--grey);
  background-color: var(--black);
  color: var(--white);
  border-radius: 0;
  height: 4rem;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  transition: border-color 0.2s;
}

.contact-form_field:hover {
  border-color: var(--grey-light);
}

.contact-form_field:focus {
  border-color: var(--white);
}

.contact-form_field.is-message {
  height: 12rem;
}

.contact-form_actions {
  grid-row-gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  display: flex;
}

.contact-form_checkbox-label {
  color: var(--grey-light);
  font-weight: 400;
}

.contact-form_label-wrap {
  margin-bottom: 1rem;
  padding-right: 1.875rem;
}

.contact-form_field-label {
  font-weight: 700;
}

.contact-form_grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact-form_checkbox {
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.contact-form_success-wrap {
  background-color: #fff;
  padding: 0;
}

.contact-form_input.border-right {
  border-right: 1px solid #0003;
}

.contact-form_success {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  color: #101010;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  display: flex;
}

.contact-form_checkbox-check {
  border: 1px solid var(--white);
  background-color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  margin-top: 0;
  margin-right: 0.75rem;
}

.contact-form_checkbox-check.w--redirected-checked {
  background-color: var(--black);
  border-style: none;
}

.contact-form_checkbox-check.w--redirected-focus {
  box-shadow: none;
}

.contact-form_error-wrap {
  color: #901517;
  padding: 2rem;
}

.contact-form_form-block {
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}

.heading-style-h5-2 {
  letter-spacing: -0.01em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.contact_component {
  flex-flow: column;
  display: flex;
}

.work-next_wrapper {
  width: 100%;
}

.content-align-center {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.empty-state {
  background-color: var(--grey);
  text-align: left;
  border: 1px #000;
  border-top-style: solid;
  padding: 1.5rem;
}

.still_list {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  display: flex;
}

.still-header_image-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.still-header_image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: relative;
}

.work-next_list {
  width: 100%;
}

.work-infos_component {
  grid-column-gap: 1rem;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.work-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  max-width: none;
}

.work-image-wrap {
  box-sizing: border-box;
  aspect-ratio: auto;
  text-align: center;
  object-fit: contain;
  width: auto;
  height: auto;
  max-height: 900px;
  position: static;
  overflow: hidden;
}

.container-tiny {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.work-next_item {
  width: 100%;
}

.work-infos_triangle {
  width: 0.75rem;
}

.work-next_image {
  aspect-ratio: 2;
  object-fit: cover;
  width: 100%;
}

.work-next_block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.work-next_block:hover {
  text-decoration: underline;
}

.work-list_block {
  width: 100%;
  height: 100%;
}

.work-list_list {
  z-index: 2;
  height: 100%;
  position: relative;
}

.work-list_item {
  height: 100vh;
  position: sticky;
  top: 0;
}

.navbar_logo-wrap {
  z-index: 101;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.section_work-list {
  z-index: 3;
  position: relative;
}

.navbar_hamburger-wrap {
  display: none;
}

.navbar_hamburger {
  z-index: 101;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  display: none;
  position: relative;
}

.navbar_hamburger-line {
  background-color: var(--white);
  width: 100%;
  height: 2px;
}

.resources_font-2 {
  font-family:
    PT Mono,
    sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
}

.container {
  height: 500px;
}

.container-medium-portraits {
  width: 100%;
  max-width: 110rem;
}

.containe {
  width: 50%;
  height: 50%;
}

.collection-list-wrapper {
  overflow: visible;
}

.collection-list {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  display: grid;
  overflow: visible;
}

.collection-item {
  width: 100%;
}

.collection-list:before,
.collection-list:after {
  display: none;
}

.collection-list .collection-item.w-col {
  float: none;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.collection-list .collection-item img {
  width: 100%;
  display: block;
}

.collection-list .collection-item .w-inline-block {
  width: 100%;
  display: block;
}

@media screen and (min-width: 992px) {
  .container-medium-portraits {
    width: 80%;
  }

  .collection-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.image {
  padding-bottom: 10px;
}

.video {
  width: 50%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.empty-state-2 {
  background-color: #ddd0;
}

.filter-button {
  text-align: left;
  background-color: #3898ec00;
  padding-right: 61px;
  text-decoration: underline;
}

.text-block {
  flex-flow: row;
  width: 100px;
  display: block;
  position: static;
}

.padding-section-xsmall {
  padding-bottom: 28px;
}

@media screen and (max-width: 991px) {
  blockquote {
    font-size: 1.125rem;
  }

  .main-wrapper {
    min-height: auto;
  }

  .padding-section-large {
    padding-top: 10rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .padding-section-xlarge {
    padding-top: 10rem;
  }

  .padding-secio {
    padding-top: 4rem;
  }

  .resources_item-content {
    grid-row-gap: 0.5rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .text-size-large {
    font-size: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .padding-section-medium {
    padding-top: 6rem;
  }

  .resources_component {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .hide-tablet {
    display: none;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .resources_font-block:hover {
    opacity: 1;
  }

  .home-header_image-wrap {
    width: 50vw;
    height: auto;
  }

  .work-list_image {
    height: 100vh;
    min-height: 100vh;
  }

  .footer_component {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }

  .footer_text {
    text-align: center;
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .about-awards_list {
    grid-row-gap: 1.25rem;
  }

  .about-social_wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .about-header_component {
    padding-top: 0;
  }

  .about_content {
    width: 100%;
  }

  .about-header_image {
    width: 100%;
    position: relative;
  }

  .about-header_gradient-pic {
    height: 50%;
  }

  .about-clients_wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .button {
    padding: 1.25rem 3rem;
    font-size: 0.875rem;
  }

  .button.hover:hover {
    color: var(--white);
    background-color: #0000;
  }

  .about-header_image-wrap {
    height: 50vh;
    position: relative;
  }

  .about_component {
    grid-row-gap: 4rem;
  }

  .archive-list_list {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .contact-form_checkbox-label {
    font-size: 0.875rem;
  }

  .heading-style-h5-2 {
    font-size: 2rem;
  }

  .still_list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .work-infos_component {
    grid-column-gap: 1rem;
    grid-row-gap: 0.25rem;
  }

  .navbar_hamburger-wrap {
    z-index: 99;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    position: relative;
  }

  .navbar_hamburger {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  blockquote {
    font-size: 1rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h1 {
    font-size: 1.5rem;
  }

  .padding-section-large {
    padding-top: 6rem;
  }

  .padding-section-large.is-mobile-big {
    padding-top: 8rem;
  }

  .resources_items.more-columns {
    grid-template-columns: 1fr 1fr;
  }

  .resources_group {
    grid-row-gap: 1.5rem;
  }

  .collection-list {
    grid-template-columns: 1fr;
  }

  .padding-section-xlarge {
    padding-top: 6rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .padding-secio {
    padding-top: 3rem;
  }

  .max-width-full-mobile {
    width: 100%;
    max-width: none;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .resources_heading {
    padding-bottom: 1.25rem;
    font-size: 1rem;
  }

  .template-style-heading-split,
  .template-style-heading-split.margin-small {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .template-style-heading-split.margin-large {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .resources_item-content {
    padding: 1.5rem;
  }

  .text-size-large {
    font-size: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .padding-section-medium,
  .padding-section-medium.is-mobile-small {
    padding-top: 4rem;
  }

  .padding-section-medium.is-mobile-big {
    padding-top: 6rem;
  }

  .spacer-huge {
    padding-top: 3rem;
  }

  .resources_font-1 {
    font-size: 3.5rem;
  }

  .navbar {
    background-color: var(--black);
    mix-blend-mode: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar_logo {
    width: 8rem;
  }

  .navbar_links {
    z-index: 99;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    inset: 0%;
  }

  .about-clients_logo {
    max-width: 50%;
  }

  .about-awards_item {
    padding: 1.5rem;
  }

  .button {
    padding: 1rem 2rem;
  }

  .about-header_text-wrap {
    margin-top: -3rem;
  }

  .archive-list_list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-form_field {
    height: 3.25rem;
  }

  .contact-form_field.is-message {
    height: 9rem;
  }

  .heading-style-h5-2 {
    font-size: 1.5rem;
  }

  .still_list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .navbar_hamburger-wrap {
    display: flex;
  }

  .resources_font-2 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 479px) {
  blockquote {
    padding-left: 1.5rem;
  }

  .resources_items,
  .resources_items.more-columns {
    grid-template-columns: 1fr;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h6 {
    letter-spacing: 0.02em;
  }

  .resources_note {
    padding: 1.5rem;
  }

  .resources_grid {
    grid-template-columns: 1fr;
  }

  .resources_fonts {
    grid-template-columns: 1fr 1fr;
  }

  .section_home-header {
    position: relative;
  }

  .home-header_image-wrap {
    width: 60vw;
  }

  .navbar_links {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    flex-flow: column;
    display: none;
  }

  .work-list_content.black-text {
    color: var(--white);
  }

  .work-list_image {
    aspect-ratio: 1;
    height: auto;
    min-height: auto;
  }

  .work-list_infos {
    background-color: var(--black);
    order: -1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    inset: 0% 0% auto;
  }

  .work-list_infos-content {
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer_component {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
  }

  .footer_text,
  .footer_link {
    font-size: 0.75rem;
  }

  .footer_links {
    grid-row-gap: 0.5rem;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }

  .about-awards_list,
  .about-clients_wrapper {
    width: 100%;
  }

  .about-awards_item {
    flex-flow: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .about_section-content {
    grid-row-gap: 2rem;
    flex-flow: column;
    width: 100%;
  }

  .about_component {
    width: 100%;
  }

  .archive-list_list {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form_grid {
    grid-template-columns: 1fr;
  }

  .contact-form_input.border-right {
    border-right-style: none;
  }

  .still_list {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .work-list_block {
    height: auto;
  }

  .work-list_list {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
    height: auto;
    display: flex;
  }

  .work-list_item {
    height: auto;
    position: relative;
  }
}

#w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda07d-c04c9c9e,
#w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda085-c04c9c9e,
#w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda187-c04c9c9e,
#w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda18e-c04c9c9e {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda07d-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda085-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda13b-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda187-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda18e-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda2bf-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda2c6-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda2df-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda2e6-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda349-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda351-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda38d-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda395-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda3b1-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda3b9-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda3d5-c04c9c9e,
  #w-node-_4fce77b0-6ac6-434d-12f9-cadd83dda3dd-c04c9c9e {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/Mona-Sans.woff") format("woff");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Mono";
  src: url("../fonts/PTMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
