:root {
  --black: #000;
  --white: white;
  --grey: #424242;
  --grey-dark: #242424;
  --grey-light: #8f8f8f;
}

.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: #fff;
  font-family: PT Mono, sans-serif;
  font-size: .875rem;
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mona Sans, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mona Sans, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mona Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mona Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mona Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Mona Sans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--white);
  padding-bottom: 5px;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.25rem;
}

ol {
  margin-top: 0;
  margin-bottom: .625rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .625rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-size: 1rem;
  font-weight: 500;
}

em {
  font-style: italic;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 32px;
  margin-bottom: 32px;
}

figcaption {
  text-align: center;
  margin-top: .75rem;
  font-size: .8rem;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
}

.page-wrapper {
  overflow: clip;
}

.container-large {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-global {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_form-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.main-wrapper {
  min-height: calc(100vh - 66px);
}

.container-medium-landscape {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}

.section_still_photos .container-medium-landscape {
  margin-bottom: 2rem;
}

.heading-style-h1 {
  font-family: Mona Sans, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.heading-style-h3 {
  font-family: Mona Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.display-inline {
  display: inline;
}

.spacing-block-small {
  width: 100%;
  height: 1rem;
}

.spacing-block-custom2 {
  width: 100%;
  height: 1.25rem;
}

.form_input {
  border: 1px solid var(--grey);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.padding-section-large {
  padding-top: 12rem;
}

.display-flex {
  display: flex;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.resources_items {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.resources_items.single {
  flex-flow: column;
  display: flex;
}

.resources_items.more-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.text-style-link {
  text-decoration: underline;
}

.heading-style-h2 {
  font-family: Mona Sans, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-style-label {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  bottom: -2px;
}

.text-style-label.tiny {
  font-size: 1rem;
}

.resources_group {
  grid-row-gap: 2rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.spacer-custom-1 {
  width: 100%;
  padding-top: 1.25rem;
}

.text-size-medium {
  font-size: 1rem;
}

.section_resources {
  min-height: 80vh;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.overflow-scroll {
  overflow: scroll;
}

.text-align-right {
  text-align: right;
}

.padding-section-xlarge {
  padding-top: 14rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.padding-secio {
  padding-top: 5rem;
}

.spacer-custom-3 {
  width: 100%;
  padding-top: 2.5rem;
}

.heading-style-h5 {
  font-family: Mona Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-style-h4 {
  font-family: Mona Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.text-size-small {
  font-size: .875rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.spacer-large {
  width: 100%;
  padding-top: 3rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
}

.resources_heading {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 1.875rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.resources_heading.no-border {
  border-bottom-style: none;
  padding-bottom: 0;
}

.template-style-heading-split {
  background-color: #d2d6d9;
  width: 1px;
  height: 100%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  transform: rotate(7deg);
}

.template-style-heading-split.margin-small {
  margin-left: 1rem;
  margin-right: 1rem;
}

.template-style-heading-split.margin-large {
  margin-left: 2rem;
  margin-right: 2rem;
}

.template-style-heading-split.margin-smaller {
  margin-left: .5rem;
  margin-right: .5rem;
}

.spacer-custom-2 {
  width: 100%;
  padding-top: 1.5rem;
}

.text-weight-light {
  font-weight: 300;
}

.overflow-visible {
  overflow: visible;
}

.case-content_rich-text {
  line-height: 1.5;
}

.resources_item-content {
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 2.5rem 2.5rem 4rem;
  display: flex;
}

.resources_item-content.center-horizontal {
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.text-weight-bold {
  font-weight: 700;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
}

.overflow-auto {
  overflow: auto;
}

.container-full {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.resources_structure-out {
  border: 1px solid #1e7bfa;
  width: 100%;
  position: relative;
}

.resources_structure-out.fill-bg {
  background-image: url('../images/webflow-spacing-bg-final_1webflow-spacing-bg-final.png');
  background-position: 0 0;
  background-size: 80px;
}

.container-xsmall {
  width: 100%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.text-style-all-caps {
  text-transform: uppercase;
}

.resources_groups {
  grid-row-gap: 4rem;
  flex-direction: column;
  display: flex;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.resources_item {
  background-color: var(--grey-dark);
  color: var(--white);
  border: 1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.text-size-large {
  font-size: 1.125rem;
}

.display-inline-block {
  display: inline-block;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.text-weight-normal {
  font-weight: 400;
}

.text-align-left {
  text-align: left;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.display-block {
  display: block;
}

.resources_item-label {
  grid-column-gap: .5rem;
  color: #8c9399;
  border-bottom: 1px solid #ffffff12;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  margin-right: 0;
  padding: .75rem .75rem .75rem 1rem;
  display: flex;
  position: relative;
}

.resources_structure-in {
  background-color: var(--grey-dark);
  pointer-events: none;
  width: 100%;
  height: 3rem;
  position: relative;
}

.resources_structure-in.utility {
  background-color: #2d40ea1a;
}

.resources_structure-in.utility.full-height {
  height: 100%;
}

.padding-section-medium {
  padding-top: 8rem;
}

.resources_section {
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
}

.text-style-muted {
  opacity: .6;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.resources_component {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  flex-direction: column;
  display: flex;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.resources_class {
  color: #fff;
  background-color: #1e7bfa;
  border-radius: 4px;
  padding: .5rem .625rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.3;
}

.resources_class.custom-border {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.resources_class.html-tag {
  color: #f6f6f3;
  background-color: #cf4bb3;
  border-style: none;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.heading-style-h6 {
  font-family: Mona Sans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.pointer-events-none {
  pointer-events: none;
}

.container-small {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.resources_subheading {
  font-size: 1rem;
  font-weight: 500;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.resources_class-wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.text-style-italic {
  font-style: italic;
}

.overflow-hidden {
  overflow: hidden;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.text-weight-medium {
  font-weight: 500;
}

.resources_note {
  grid-column-gap: 1rem;
  background-color: var(--grey-dark);
  color: var(--grey-light);
  padding: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: box-shadow .2s;
  display: flex;
}

.resources_note:hover {
  box-shadow: 1px 1px 4px #0000001a;
}

.resources_note.full {
  width: 100%;
}

.resources_note-content {
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  max-width: 29rem;
  display: flex;
}

.resources_note-content.large {
  max-width: 33rem;
}

.link {
  color: var(--white);
}

.resources_grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.resources_licenses-group {
  grid-row-gap: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.resources_link {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

.resources_license-wrap {
  aspect-ratio: 3 / 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.resources_license-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.resources_changelog-list {
  grid-row-gap: 3rem;
  flex-direction: column;
  display: flex;
}

.resources_changelog-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  font-size: 1rem;
  display: grid;
}

.resources_video {
  margin-bottom: -1px;
}

.resources_video-wrap {
  overflow: clip;
}

.text-color-grey-400 {
  color: var(--grey-light);
}

.resources_fonts {
  grid-column-gap: 2rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  width: 100%;
  display: grid;
}

.resources_font-block {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  transition: opacity .2s;
  display: flex;
}

.resources_font-block:hover {
  opacity: .7;
}

.resources_font-1 {
  font-family: Mona Sans, sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
}

.section_home-header {
  justify-content: center;
  align-items: center;
  height: 75vh;
  display: flex;
  position: sticky;
  top: 0;
}

.home-header_image-wrap {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  aspect-ratio: 2 / 2.5;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  display: flex;
  position: relative;
  overflow: clip;
}

.home-header_image {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.navbar {
  z-index: 99;
  mix-blend-mode: difference;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  inset: 0% 0% auto;
}
