<section id="about">
		
<section class="container">
	<div class="row about-text">
		<div class="col">
		<h1>David Becher</h1>
		<h3>About Me:</h3>

		<p> Hi, I’m David. </p>

		<p> I have previously worked as a Technical Analyst at Altria in Richmond, which is where I interned and worked directly out of college. </p>

		<p> I went to college at UVA, where I studied Computer Science and Cognitive Science. </p>

		</div>

		<div class="col">
			<div class="thumbnail">
			<img src="/images/Portrait400px.png" class="img-fluid" />
			</div>
		</div>
	</div>
	<div class="row about-text">
		<div class="col">

		<p> Professionally, I focused on system improvement, using my knowledge of technology to suggest changes that would facilitate various processes. Additionally, I was responsible for the development and oversight of the implementation of these suggestions. </p>

		<p>Outside of work, I like to <a class="about-links" href= "#/travel" ng-click="selectNewPage()">travel</a> and meet new people. I tend to travel alone since I’ve realized that’s the best way to get out of your comfort zone. I also enjoy <a class="about-links" href= "#/music" ng-click="selectNewPage()">playing piano and writing music. </a> I’ve gotten part time gigs playing at hospitals in various cities in which I’ve lived. I also like <a class="about-links" href= "#/photos" ng-click="selectNewPage()">photography</a> and have gotten somewhat proficient at software such as Photoshop to realize some creative visions that I have. </p>
</div>
</div>
		
</section>
	<hr />
		<p> Get in Touch <br> </p>
			<ul class="icons">
				<li><a href="https://twitter.com/thinkdavid_xD" target="_blank" class="fa-twitter">Twitter</a></li>
				<li><a href="https://instagram.com/thinkdavid" target="_blank" class="fa-instagram">Instagram</a></li>
				<li><a href="https://facebook.com/t1t2td" target="_blank" class="fa-facebook">Facebook</a></li>
			</ul> 
	<hr />
<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">About Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
	</div>
</footer>
</section>