<section id="resources">
	<header>
		<h1>Resources</h1>
		<hr>
	</header>
<section class="container-fluid" id="resource-body">
	<div class="row justify-content-center">
		<h3 style="text-transform: uppercase;"> Say Their Names </h3><br><br>
	</div>
	<div class="row justify-content-center">
		<p style="text-transform: uppercase; color:hotpink;"> 
			<a href="https://www.newyorker.com/culture/cover-story/cover-story-2020-06-22"> Say Their Names </a> <br>
			<a href="https://www.npr.org/2020/05/29/865261916/a-decade-of-watching-black-people-die"> NPR: A Decade of Watching Black People Die </a>
		</p>
	</div>	
	<hr>
	<div class="row justify-content-center">
		<h3 style="text-transform: uppercase;"> To Read </h3>
			<ul class="resource-section">
				<li><a href="https://www.theroot.com/a-timeline-of-events-that-led-to-the-2020-fed-up-rising-1843780800">Brief History (and Context)</a> of this "fed-up"rising.</li>
				<li><a href="https://www.goodreads.com/book/show/92057.The_Autobiography_of_Malcolm_X"> Autobiography of Malcolm X</a> gives an in-depth look instead of the B&W view pushed forth in schools that says "MLK = good", "Malcolm X = bad" </li>
				<li><a href="https://www.africa.upenn.edu/Articles_Gen/Letter_Birmingham.html"> Letter from Birmingham Jail </a> from Martin Luther King Jr. He did more than just the "I have a dream speech". </li>
				<li><a href="https://www.npr.org/2017/05/03/526655831/a-forgotten-history-of-how-the-u-s-government-segregated-america"> Explanation of Redlining </a> and how America remained 'legally' segregated even after Jim Crow, with lasting effects that linger today </li>
				<li><a href="https://medium.com/@OfcrACab/confessions-of-a-former-bastard-cop-bb14d17bc759"> A Former Police Officer Documents his Experience as a Cop </a> and how the system turns all cops into bad cops </li>
				<li><a href="https://www.nature.com/articles/s41599-019-0333-7"> The History of Police </a> -- which were first founded as a slave patrol to catch slaves are return them to their masters and then evolved into agents of state terror to suppress uprisings.</li>
				<li>Learn what it means to <a href="https://www.cnn.com/2020/06/06/us/what-is-defund-police-trnd/index.html"> Defund the Police </a></li>
				<li> <a href="https://www.bbc.com/future/article/20190326-what-is-epigenetics"> Trauma passed down by generations </a> through epigenetics, which essentially study how changes ON our DNA can change how it expresses itself (as opposed to generational DNA mutations, which are changes IN DNA) </li>
			</ul>
	</div>
	<hr>
	<div class="row justify-content-center">
			<h3 style="text-transform: uppercase;"> To Do: </h3>
			<ul class="resource-section"> 
				<li><a href="https://act.colorofchange.org/signup/signup?source=coc_website_popup">Join Color of Change</a> which coordinates online actions and in-person events you can join to stand up for racial justice </li>
				<li><a href="https://www.instagram.com/rachel.cargle/">Follow Rachel Cargle</a>, a Black woman who posts educational resources on her instagram and her website </li>
				<li><a href="https://www.vote.org">Register to Vote</a>, and then when you vote look for candidates that have "anti-racist" policies, whether it is economic equity or defunding the police</li>
				<li><a href="http://www.morethanavote.org/"> More Than A Vote </a> A foundation focused on driving change via the ballot box. Shares voting resources and updates. </a>
			</ul>
	
	</div>
	<hr>
	<div class="row justify-content-center">
			<h3 style="text-transform: uppercase;"> To Watch: </h3>
			<ul class="resource-section"> 
				<li><a href="https://www.youtube.com/watch?v=3tR6mKcBbT4">Dave Chappelle on Police Brutality </a></li>
				<li>John Oliver discussing <a href="https://www.youtube.com/watch?v=zaD84DTGULo">Police Accountability</a>, <a href="https://www.youtube.com/watch?v=Wf4cea5oObY"> More Police Problems </a> (this one is the best to me), and <a href="https://www.youtube.com/watch?v=KUdHIatS36A"> the Militarization of Police </a> </li>
				<li><a href="https://www.youtube.com/watch?v=krfcq5pF8u8">Ava DuVernay's Documentary 13th</a> that looks into racial inequality and mass incarceration. </li>
			</ul>
	</div>
 	<hr>
 	<div class="row justify-content-center">
			<h3 style="text-transform: uppercase;"> To Listen: </h3>
			<ul class="resource-section"> 
				<li><a href="https://www.npr.org/2020/06/09/873592665/unmasking-the-outside-agitator">NPR's Code Switch Podcast</a>. This particular episode touches on the 'outside agitator' trope commonly used to diminish mass movements </a></li>
			</ul>
	</div>
	
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>