<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header button" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Cartagena</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 

			<h2>Things to Know:</h2>

			<ul>
				<li>Vendors are annoying and everywhere trying to sell you everything from weed to massages to oysters to crabs. They’re hella annoying and persistent. Just gotta deal with it and ignore as best as you can.</li>
				<li>The beaches in Cartagena (Bocagrande/Castillo Grande) are ugly. To enjoy the beaches you have to take a lancha (small boat) to the islands of which there are several. </li>
				<li>Most of the really cool bars, also have really good food (as opposed to the US, where I feel like the cool bars aren’t really known for having good food as well)</li>
				<li>The foods they seemed to be known for are arroz de coco (rice w/ coconut), a fried fish called plancha rojo or something like that (that you eat whole), ceviches (pretty good), carimañolas, empanadas, and papas (which are like fried filled potatoes) are good street foods </li>
				<li> Taxis negotiate all their own rates. Just make sure you set the price <em>before</em> you get in the car for where you’re going to avoid any surprises.

					<ul>
						<li>I paid around the following:

							<ul>
								<li>8/10 mil from El Laguito to Centro</li>
								<li>15 mil from El Laguito to Aeropuerto</li>
								<li>Minimum seemed to be about 8/10 for anything</li>
							</ul></li>
					</ul></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h2>Neighborhoods</h2>
			<ul>
				<li>Bocagrande - Miami beach of Cartagena, the most touristy, the most vendors, all in all, not really worth it. I would spend no time here.</li>
				<li>Laguito and Castillo Grande - To me, these were similar. Marginally nicer beaches than Bocagrande and more residential. Por “gente con plata”. Apartments here could have great views of the water. <strong>Lanchas to the islands depart from Castillo Grande beach every morning.</strong></li>
				<li>La Ciudad Amurallada/El Centro - The most unique part of Cartagena, an old spanish colonial style neighborhood very well preserved, where most of the bars and restaurants worth going to are located. <strong>El Torre de Reloj</strong> is a main central point/meeting point. Also where all the prostitutes clock in to their “offices”</li>
				<li>Getsemani - right outside el Centro, a little cheaper, more artsy with graffiti everywhere. Definitely worth going to see it and looking at all the art on the walls. <strong>Plaza de la Trinidad</strong> is a dope meeting spot for people to go look at street performers, get drinks from vendors, and just hang out with your friends and people watch.</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Good for Food and Drink</h3>

			<ul>
				<li><strong>Al Quimico</strong>: Bar/Restaurant with three stories and each has a different vibe. Good food, ceviche was amazing and the spot is well designed. Good music too. I liked this spot a lot. </li>
				<li><strong>Mirador Gastrobar</strong>: Rooftop Bar/Restaurant overlooking el torre de reloj. Great view. Great food. Sometimes has live music as well. Good drinks as well. One of the more well-known spots in el Centro.</li>
				<li>Mar y Cielo - Restaurant with great food. Definitely on the more fancy/elegant side but the food is one of the best in Cartagena</li>
				<li><em>Restaurante Mardaleva</em>- Bar/Restaurant with a cool vibe and good drinks. Live music in the evenings. Really cool inside. Women in there were all so fine too.</li>
				<li>Selina Hostel Rooftop Bar - Rooftop Bar/Restaurant on the top of the Selina hostel in Getsemani that has live music some time playing <em>champeta</em> a musical style local to Cartagena. Also has a pool. I broke a bottle here by dropping it and embarrassed myself.</li>
			</ul>

		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="/images/cartagena/cartagena-1.jpg" class="img-fluid" />
		</div>
		<div class="col">
			<img src="/images/cartagena/cartagena-2.jpg" class="img-fluid"/>
		</div>
		<div class="col">
			<img src="/images/cartagena/cartagena-3.jpg" class="img-fluid" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">

			<h3>Good for Food/Coffee</h3>

			<ul>
				<li><strong>Epoca</strong> - Restaurant/Cafe. Fast wifi, great coffee, good food. I went here like 6 times. Highly recommend.</li>
				<li><strong>put in that italian spot that was good</strong>- Restaurant</li>
				<li><strong>put in that place i ate with Maria outside</strong> - Collection of food trucks where you order and then can sit and enjoy the view and a variety of foods</li>
				<li>Juan Valdez - Cafe. The Starbucks of Latin America. Personally, not that good, but go, I guess.</li>
				<li><strong>Charlie’s Cafe</strong> - Cafe in Laguito, I went here every day for like 2 months. Coffee is great and the staff is great and friendly as well.</li>
				<li><strong>Crepes and Waffles</strong> - Bonito, Bueno, y Barato. Nice, good, and cheap. Also a staple. Go to the one in la ciudad amurallada if you can. The one in Bocagrande is still good but not as pretty.</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<h3>Good for Drink</h3>

			<ul>
				<li> Monkeybar - Club in el centro that was very small but played good music and all the locals seemed to love it. I thought it was a little too packed and small but they love it.</li>
				<li> <strong>Sky 51</strong> - Bar/Club on the 51st floor of the Almirante hotel in Bocagrande. The highest up bar in Cartagena (even Colombia maybe?) Amazing view from the top and it’s a wide open space. Plus its way cheaper than you would think. Only open a few days of the week.</li>
				<li><strong>Townhouse</strong> - Cool rooftop lounge/bar on the top floor of a hotel. Very cool vibes, great view. A great place to get a few drinks to start the night and watch the sunset.</li>
				<li> <strong>Cafe Del Mar</strong> - Bar on the walls of the old city that has amazing views of the water and of the big skyscrapers of Bocagrande in the distance. Go for the views. Drinks are mid.</li>
			</ul>

		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">

		<h3>Things to Do:</h3>

		<ul>
			<li>Playa Blanca: Beautiful beach with beautiful water, albeit very touristy and full of people. You can either go by boat via an Islas Rosario tour or by bus. Bus is cheaper (and easier) but the boat is faster and could be fun. I think I paid 40 mil round trip to go via bus.</li>
			<li>Islas Rosario: The tour we did takes you around on a boat around the Islas Rosarios, then you can either go snorkeling or to an aquarium on one of the islands. And then you get an hour on Playa Blanca to relax. Must be booked via tour. It was worth doing but I personally just preferred to go to the islands and relax other than all the movement this tour did</li>
			<li>Cholon - Another island you can go to, considered the party island. Similar to private islands, either go with a yacht if you travel w/ a bunch of friends, or find a trip.</li>
			<li>Castillo de San Felipe de Barajas - A cool old fort with good views of the city. Definitely worth checking out. Lots of cool tunnels and interesting to get outside the city (albeit barely)</li>
			<li>Wander the ciudad amurallada. It’s easy to get lost within the walls and honestly you could have a good time just exploring the city for at least 2/3 days.</li>
		</ul>

		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>