<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header button" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Cartagena</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 

			<h2>Overarching Notes</h2>

			<ul>
				<li>Thai Coffee and Thai Iced Tea are very different than American (and in my opinion much better). I’d try both, and often.</li>
				<li> You’ll hear everyone saying “Kahhhh” or “Khub” all the time -- all this means is to show respect at the end of a statement. Girls say “Ka”, guys say “Khub”. So for example, Sawadee-ka would be a girl saying “hello” (Sawadee-khub is a guy saying “hello”)</li>
				<li>Don’t just get Pad Thai every day (but that shit is good as hell so definitely get it once)</li>
				<li>You can get massages and other spa treatments for so cheap. Definitely do so.<br/></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h2>Bangkok</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 travel body">
			<img src="/images/cartagna/cartagna.jpg" class="img-fluid text-center" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body"> 
			<p>Honestly, I’d just stay for a weekend and then go either north to Chiang Mai or east/south to one of the islands (either on the gulf or down to Phuket)</p>

			<h3>To-Do</h3>

			<ul>
				<li>Khao-San Road -- this is quintessential bangkok craziness like you’d expect in the movies. You can buy scorpion and other weird insect foods here.
				</li>
				<li>Grand Palace - wear something modest (shoulders and legs covered) but it’s really cool
				</li>
				<li>Definitely hit some of the bigger temples if you can (Wat Pho, Wat Arun, Temple of the Rising Sun)
				</li>
				<li>Rooftop bars are pretty cool, we did this one (Octave Rooftop Lounge &amp; Bar | Bangkok Hotel Restaurants - Marriott) but I bet most are pretty solid.</li>
				<li>Chutuchak Market - very overwhelming outdoor market but you gotta see a market cause they have so much stuff.<br/></li>
			</ul>

		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="/images/thailand/tuk_tuk.jpg" class="img-fluid" />
		</div>
		<div class="col">
			<img src="/images/thailand/rooftop_small.jpg" class="img-fluid"/>
		</div>
		<div class="col">
			<img src="/images/thailand/temple2_small.jpg" class="img-fluid" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">

			<h3>Lodging</h3>

			<p>We stayed in a hostel called “Yim Hostel Bangkok” and it was pretty nice, but I’d choose a hostel close to the sky train -- their metro is pretty efficient and can get you mostly anywhere. If you feel like balling you can also get pretty ridiculously nice hotels for cheap in Bangkok (and they come with breakfast, and hotel breakfast in Asia slaps). We stayed at the Compass Skypoint one night too (that was our "ball out" hotel. <br> 
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<h3>Partying</h3>

			<p>Going out you could go to KhaoSan Road or RCA (for like more EDM like clubs), we also checked out Sukhumvit Soi 11 and that was pretty fun.</p>

			<p>Ping-Pong show --- not going to get into this too much but it is a very uniquely bangkok thing and it’s ridiculous.</p>

			<p>My friend also suggested this much more thorough list, but I’d just choose one of the areas above and walk around until you find something interesting:</p>

			<div class="row">
				<div class="col">
					<img src="/images/thailand/mcdonald.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/thailand/scorpions.jpg" class="img-fluid"/>
				</div>
				<div class="col">
					<img src="/images/thailand/layingbuddha.jpg" class="img-fluid" />
				</div>
			</div>

			<ul>
				<li>Khao San, as already mentioned, is the backpacker road which is quite famous and good for getting really wasted with tourists. It’s worth a stop, but you&#39;d be making a big mistake by spending all your time in Bangkok here. It has a bunch of novelty things like scorpions to eat, laughing gas, and the infamous ping pong shows though.</li>
				<li>Sukhumvit Soi 11 off Nana BTS is a road of only bars and restaurants; it&#39;s a bit seedy due to its close proximity to Nana Plaza (one of the hot spot areas for prostitution) but I suppose it makes for good people watching.</li>
				<li>The most happening night club in Bangkok is without doubt Beam. Techno upstairs, hip hop downstairs. No cover, no flip flops. Expect it to be slammed on weekends.</li>
			</ul>

			<p> Specific Bars: </p>
			<ul>
				<li>Bars with live music: Studio Lam (my personal favorite bar, filled with traditional Thai whiskey called yadong and great DJs or bands, think 70&#39;s Thai funk music. Beware, there&#39;s usually 200b cover), Soul Bar (located in Chinatown, expect nightly jazz or funk), Tep Bar (This is like a Thai culture bar, with yadong and traditional Thai music)</li>
				<li>Cocktail bars: J.Boroski (a speak-easy that is true to its name; no menu; the most expensive but most delicious cocktails in BKK - 600B easy), Vesper (stellar and expensive cocktails, very classy), Maggie Choo&#39;s (a super cool 1920&#39;s Shanghai-themed bar at the basement of a hotel, complete with models lounging on swings), Teens of Thailand (a gin-only bar in Chinatown).</li>
				<li>Beer bars: Game Over (think craft beer and ribs with a ton of board games for rent), Let The Boy Die (in Chinatown, serves Thai craft beer - a very new concept - on draught), Mikkeller (30 taps in a really nice house with a gorgeous bean bag-studded beer garden), Hair of the Dog (super strange horror medical themed decor?).</li>
			</ul>

		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<img src="/images/thailand/grand_palace_original.jpg" class="img-fluid" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">

			<h3>Transportation</h3>

			<p>The metro line is really efficient and the most cost effective way to travel.</p>

			<p>You can also hail taxis pretty efficiently -- ask them to turn the meter on (they won’t want to) -- but sometimes the flat fare isn’t a terrible deal so decide if it’s worth it. People will try to rip you off but not too bad, but NEVER agree to the first price.</p>

			<p>Tuk-Tuks are basically like golf cart taxis, usually more expensive than taxis, but way more fun to ride in. Some will have like neon lights and subwoofers and blast music. Agree on fare BEFORE you get in the tuk-tuk but they’re also pretty easily hailed.
			</p>

		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body"> 
			<h2>Chiang Mai</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body">
			<img src="/images/thailand/chiang_mai.jpg" class="img-fluid" /> <br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<h3>To-Do</h3>

			<ul>
				<li>More temples, but the vibe is different here</li>
				<li>Rent a motor-scooter if you’re adventurous, some places offer insurance on your bike that might give you some peace of mind if you’re not a good driver</li>
				<li>Elephant Nature Park (super ethical/humane park, most of the elephants are rescued) but really cool, you get to pet and feed and learn about them</li>
				<li>Would absolutely recommend the Sticky Waterfalls, either rent a bike or a car and get out there, it’s literally a waterfall you can run up. Like a natural water park.</li>
				<li>Doi Suthep is another really cool temple, this one you can do a hike (Google Secret Temple Doi Suthep) and you’ll come up on a smaller but way more secluded (and less tourist) temple</li>
			</ul>

			<h3>Partying</h3>

			<p>Honestly, we didn’t go out too much here. The one night we got drunk though we went to Zoe in Yellow and were surrounded by tons of white people (which I didn’t like because….I’m in Asia, if I wanted to be surrounded by white people I’d stay at UVA) but the bars themselves were cool.</p>

			<p>BUT you should go to a lady boy show - we went to one of these at one of the markets and it was actually so worth it. Very fun. We got drunk here too.<br/></p>

			<h3>Food</h3>

			<ul>
				<li>Get Khao Soi (it’s a laotian-thai noodle)</li>
				<li>Also I’d recommend balling out on food, you can get so much for so cheap. Get things like steamed sea-bass (it fucking SLAPS)</li>
			</ul>
		</div>	
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>