<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header button" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Chicago</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 

			<p>Chicago is really a unique city. From the unique food, to the beautiful lake beaches, to the iconic architecture, there is a lot to see and do…in the summer. Can’t imagine what it’s like in the winter, except painfully cold.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<img src="/images/chicago/chicago-river.jpg" class="img-fluid text-center" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<hr>
			<h3>Bars</h3>

			<ul>
				<li>Federales: Huge outdoor seating, with a good mix of music. Kanye played a couple times which was cool since he’s almost synonymous with Chicago. They have a bell outside that you can throw your shot glasses at after you finish taking the shot (make sure you order the ice shot though — there isn’t just glass everywhere)</li>
				<li>Blind Barber: Didn’t get to go but was described as a cool, more laid back spot, apparently Chance the Rapper frequents it when he’s in town. Was recommended by multiple people</li>
				<li>London House: Best rooftop bar in the city as far as views and aesthetic goes. There can be a line though and drinks are expensive. It’s a more bourgeois vibe but definitely worth a look.</li>
				<li>City Winery on the Riverwalk: I liked this because it is literally just like a wine stand where you can get wine and then sit outside directly on the river. It feels very “open container” which is a cool vibe.</li>
				<li>Kingston Mills: Blues bar in Lincoln park — cool because they play blues music, and it’s good. Kind of different, drinks reasonable priced, it was a good chill night.</li>
				<li>Offshore Chicago - drinks were not good, and expensive, but the space itself is pretty cool. It’s a huge rooftop/patio type thing overlooking the pier and lake. It’s really nice up there.</li>
			</ul>

			<h3>Food</h3>

			<ul>
				<li>Portillos — OG Chicago Hot Dogs</li>
				<li>Italian Village — good ass Italian food</li>
				<li>Giardino’s — OG Chicago Deep Dish</li>
				<li>Jack Melnyck’s Corner Spot - the wings slapped</li>
				<li>Antique Taco - the tacos slapped</li>
			</ul>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-4 travel-body">
			<img src="/images/chicago/chicago-boat.jpg" class="img-fluid text-center" />
		</div>
		<div class="col-4 travel-body">
			<img src="/images/chicago/chicago-bean.jpg" class="img-fluid text-center" />
		</div>
		<div class="col-4 travel-body">
			<img src="/images/chicago/chicago-museum.jpg" class="img-fluid text-center" />
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			
			<h3>To Do’s:</h3>

			<ul>
				<li>Art institute of Chicago — really well designed museum with a bunch of different kinds of art, including the famous American Gothic painting (the old dude with the pitchfork and his daughter in front of a farm)</li>
				<li>Museum of Contemporary Art</li>
				<li>Millennium Park — this is where the Bean is (actually, it’s called Cloud Gate, apparently)</li>
				<li>WNDR Museum — good for instagram</li>
				<li>Signature Room at the 95th - great viewpoint of the city on the 95th floor of the John Hancock building. It’s free as opposed to the higher up viewpoint, you just feel peer pressured to buy a 15 dollar drink. Views are great though.</li>
				<li>Rent a bike and ride along the lakefront. It’s a really easy ride, pretty flat, and beautiful. Plus you pass various beaches which are kind of cool views of the city.</li>
				<li>Navy Pier — free to walk </li>
				<li>Wicker Park - brooklyn-esque neighborhood, tons of graffiti and little quaint shops.</li>
				<li> Museum of Science and Technology (I didn’t go but it was suggested)</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<img src="/images/chicago/chicago-wicker.jpg" class="img-fluid text-center" alt="wicker-park"/>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<hr>
			<h3>Beaches</h3>

			<ul>
				<li>31st Street Beach — this definitely the lit/black beach. When I pulled up (on my bike) there were hella people having cookouts, there was a Henny tiki bar, it was a good time</li>
				<li>Ohio Street Beach —- closest beach to the downtown area. Always packed, pretty solid. </li>
				<li>North Avenue Beach — A nicer beach than Ohio Street beach in my opinion. Less packed (but still packed), with nicer (and more) sand.</li>
			</ul>
		</div>	
	</div>

	<div class="row">
		<div class="col-12 travel-body">
			<img src="/images/chicago/chicago-marina.jpg" class="img-fluid text-center" />
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">About Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>











