<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Colombia</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 
			<div class="row">
				<div class="col-12 travel-body">
					<img src="/images/colombia/colombia-0.jpg" class="img-fluid" />
				</div>
			</div>

			<ul>
				<li>Brush up on your Spanish before you go. English wasn’t strong, even in the touristic cities.</li>
				<li>Coffee! Drink plenty of it and often, it really is amazing compared to the shit we have the U.S. Colombians seem to love Juan Valdez, which is a chain restaurant, but it was recommended to me by almost everyone.</li>
				<li>Additionally, I was recommended to go to Crepes and Waffles. Yes, it’s labeled in English. Colombians loved this too. It’s like a cheesecake factory kind of vibe a little bit.</li>
			</ul>

			<h4>Transportation:</h4>

			<p>I used Uber to get around, it was pretty reasonable. However, Uber’s are illegal, so make sure to sit in the passenger seat, to make it easier.</p>

			<p>From the airport in Bogota, I took one of the yellow taxi’s outside by the stand. It’s easy to see which ones are legitimate, they are right outside the arrivals gate. These taxi’s are trustworthy, I’d trust them with my life. I forgot my bag with hundreds of dollars worth of belongings in a taxi and the driver and company made an effort to return this bag to me. Everything was untouched.</p>

			<p>In Cartagena, it was a far more laid back vibe, but again the state taxi’s were easily identifiable and I took one of those to my hotel.</p>

			<h4>Accommodation</h4>

			<p>Bogota and Cartagena both have hostels running for 10-20 USD a night or you can opt for a 4 star hotel for 80-120 USD a night (includes breakfast). </p>

			<p>One of the nicest hotels I’ve ever stayed in was the Hotel Grand Hyatt in Bogota. Location wasn’t great, but I spent a solid half day in the hotel using the pools, jacuzzi, hot tubs, and spa.</p>

			<h3>Bogota</h3>

			<p>A huge city, lots of parks, developed roads, and restaurants and bars. Reasonably priced. Could spend a week, but I think 3-4 days is enough to get a good vibe.</p>

			<h5>To Do’s:</h5>

			<ul>
				<li>Monserrate — a picturesque hike where from the top you can see all of Bogota. Bring water, this is a difficult hike. Very uphill but very close to the city so easy to get to by Uber.</li>
				<div class="row">
					<div class="col-6 travel body">
						<img src="/images/colombia/colombia-1.jpg" class="img-fluid text-center" />
					</div>
					<div class="col-6 travel body">
						<img src="/images/colombia/colombia-2.jpg" class="img-fluid text-center" />
					</div>
				</div>
				<li>Andres D.C. — a famous club in Bogota, a must-see if you’re into the nightlife. Get there early. Cover can be expensive.</li>
				<li>La Candelaria - Honestly had some of the best street performers I’ve ever seen. It’s the touristy part of Bogota, with lots of museums, street art, cool architecture, colorful buildings, and souvenirs. Definitely worth spending a day here.
				<div class="row">
					<div class="col-12 travel body">
						<img src="/images/colombia/colombia-3.jpg" class="img-fluid text-center" />
					</div>				
				</div>

					<ul>
						<li>Museo D’Oro - Gold Museum. Well designed, free if you get there with limited time to view, but you can spend a lot of time here</li>
						<li>Plaza De Bolivar - massive plaza, center of the neighborhood</li>
						<li>Museo Botero - beautiful art museum with Picasso, Dali’s, and lots of Botero, who has…an interesting style. Worth a visit.</li>
						<li>Catedral de Sal - This is a cathedral made in a salt cave. It’s a little bit far, in Zipaquirá, but public transportation can get you there for cheap and it’s absolutely worth it. It’s beautiful, in a haunting way down there.</li>
						<div class="row">
							<div class="col-12 travel body">
								<img src="/images/colombia/colombia-4.jpg" class="img-fluid text-center" />
							</div>				
						</div>
					</ul></li>
			</ul>

			<h3>Cartagena</h3>

			<div class="row">
				<div class="col">
					<img src="/images/colombia/colombia-5.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/colombia/colombia-6.jpg" class="img-fluid"/>
				</div>
				<div class="col">
					<img src="/images/colombia/colombia-7.jpg" class="img-fluid" />
				</div>
			</div>

			<p>The beach city. Important to know that the beaches in Cartagena are actually ugly. I did not know this. You go to Cartagena for its proximity to nice beaches, which you can organize transport to via various boat taxis or land taxis once you land. Bocagrande is the beach that is close to the airport and it’s filled with solicitors, the sand isn’t cute (the water is nice, but that’s everywhere).</p>

			<p>If you go to Cartagena for the beach, go to Punta Arena, or Playa Blanca. Plenty of people will try to sell you transport here, just do your research before you go on a safe and reliable transport — make it to these beaches.</p>

			<p>However, old Cartagena is beautiful. The buildings look like they’ve been hit with a saturation boost in photoshop, but in real life. You can have easily two full days exploring La Ciudad Amurallada and the surrounding neighborhood just outside the wall to the south.</p>

			<p>Food wasn’t too notable, but if you want to splurge, I’d recommend Cusco for really good Peruvian (albeit expensive).</p>

			
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>