<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header button" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Medellin</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Getting Around:</h3>
			<ul>
				<li>Taxis here use meters and are everywhere, just ask to use them if they don’t turn them on</li>
				<li>Uber works here as well. Good if you want to use your card but is more expensive than Didi</li>
				<li>Download <strong>Didi</strong> from the app store. It’s like uber for Colombia. Cheaper than taxis, but taxis just know the city so well its fun in a way to tell them your complex and they just know how to get there no problems no questions asked.</li>
				<li>Download <strong>Rappi</strong> from the app store. It’s like uber eats for Colombia. But better. You can even buy beer/liquor from here.</li>
				<li>The metro line in Medellin works well and is clean and safe and they even have metrocables which are fire. If you want to try the local thing, it's pretty cool</li>
			</ul>
			</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Neighborhoods</h3>
			<ul>
				<li><b>El Poblado</b> - Where all the expats live. Super nice area though. A lot of nice bars here, walking around is super cool because of all the nature around (big trees/rivers through the city) that made it almost seem like you were in a jungle</li>
				<li><b>Laureles</b> - Here, you'll find a more relaxed atmosphere and a distinct local vibe. Lots of restaurants and cafes. Locals often boast that Laureles is cooler than Poblado, and it's easy to see why.</li>
				<li><b>Comuna 13</b> - Good neighborhood to wander around and get lost in. Graffiti everywhere, and since it's so high up you'll have a great view of the city. I did a tour I found on Airbnb and I think it was worth it tbh.</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Things to Do:</h3>
			<ul>
				<li><b>Guatapé</b> - I actually went here. Rent a car, or books some transportm and its cool to see a more quaint village in Antioquia. Beautiful views from around there. A good hostel to stay in would be <strong>Casa Encuentro</strong>. Make sure you climb the piedra de penol</li>
				<li><strong>Parque Arvi</strong> - You have to take the metro car up and that's the main point of the adventure. It's like a 15 minute metro cable ride and it's beautiful.</strong></li>
				<li>Mirador de Las Palmas - Best view of Medellin - bring cash, they have food stands there and it smells so good</li>
				<li>Haciendo Napoles - former home of Pablo Escobar. Now it is a zoo. Interesting if you care about Narcos.</li>
				<li>Drink and Eat at Provenza - Popping neighborhood, good launching off point if you got nothing to do</li>
				<li>Malls aren't like what they are in the US. Colombians acutally go there to hang out and drink. So just because it's in a mall doesn't mean it's not good.</li>
				<li>Museos de Bellas Artes - if you like museums.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body">
			<h3>Good for Food and Drink</h3>
			<ul>
				<li><strong>Carmen</strong>: Top tier food. Expensive for Medellin but VERY good. From the staff, to the presentation, to the ambience, definitely worth going to if you want a fancy dinner you can’t afford in the US.</li>
				<li>La Deriva Rooftop: Vibe is top tier for like a late dinner or even a lunch vibe</li>
			</ul>

			<h3>Good for Food</h3>

			<ul>
				<li><strong>El Taxista</strong>: Hole in the wall restaurant only open in the morning and afternoon. Super cheap. Super good. One of the places that has a fixed menu and just gives you a tray of food.</li>
				<li>Cafetera Restaurante la Casa de Beto: Hole in wall similar to Taxista </li>
				<li>Restaurante Rebeca: Laureles - You'll have a unique experience. It's extra as hell</li>
				<li>La Firma Rooftop: Laureles - was recommended to me by a girl that lived there</li>
				<li><strong>Mamasita Medallo</strong>: Poblado - it's packed but it's got good food and is lively so that's fun</li>
				<li>OCI.mde: Poblado - Nice vibes. Good food.</li>
			</ul>

			<h3>Good for Drink</h3>

			<ul>
				<li>Zarzo - Upscale. Nicely designed.</li>
				<li>Envy Rooftop - Upscale. Beautiful views.</li>
				<li><strong>Mamba Negra</strong> - Upscale. Sheesh this view was crazy. </li>
				<li><strong>Click Clack Hotel</strong> - Get on the roof, it's a vibe. </li>
				<li>BBC Pub Medellin - Good for beer, casual hangout.</li>
				<li>Teatro Victoria - Club. Regular shmegular.</li>
				<li>Oveja Negra - Club. Underground. </li>
				<li>La House - Club. Nothing special but somehow we always had fun here?</li>
			</ul>

			<h3>Cafes</h3>

			<ul>
				<li>Délmuri Coffee & Bakery Shop - Laureles</li>
				<li>Semilla Cafe Coworking - Laureles</li>
				<li>Pergamino - Chain but the Poblado Location is dope</li>
			</ul>
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>