<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header button" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Medellin</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Getting Around:</h3>
			<ul>
				<li> Taxis here use meters and are everywhere, just ask to use them if they don’t turn them on</li>
				<li>Download Didi from the app store. It’s like uber for Colombia. Cheaper than taxis, but taxis just know the city so well its fun in a way to tell them your complex and they just know how to get there no problems no questions asked.</li>
				<li>Download Rappi from the app store. It’s like uber eats for Colombia. But better. You can even buy beer/liquor from here.</li>
			</ul>
			</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Neighborhoods</h3>
			<ul>
				<li><b>El Poblado</b> - Where all the expats live. Super nice area though. A lot of nice bars here, walking around is super cool because of all the nature around (big trees/rivers through the city) that made it almost seem like you were in a jungle</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 travel-body"> 
			<h3>Things to Do:</h3>
			<p>I unfortunately couldn’t do too much in Medellin because it was shut down due to COVID. So these will be things I was suggested to do by my Paisa friends.</p>
			<ul>
				<li><b>Guatapé</b> - I actually went here. Rent a car (or take a bus) and its cool to see a more quaint village in Antioquia. Beautiful views from around there. A good hostel to stay in would be <strong>Casa Encuentro - check this</strong></li>
				<li><strong>Parque Arvi</strong></li>
				<li><b>Comune 13 (trece)</b> - Graffiti tour. Go during the day, it’s a bad neighborhood.</li>
				<li>Haciendo Napoles - former home of Pablo Escobar. Now it is a zoo. Interesting if you care about Narcos.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body">
			<h3>Good for Food and Drink</h3>
			<ul>
				<li><strong>Carmen</strong>: Top tier food. Expensive for Medellin but VERY good. From the staff, to the presentation, to the ambience, definitely worth going to if you want a fancy dinner you can’t afford in the US.</li>
			</ul>

			<h3>Good for Food</h3>

			<ul>
				<li><strong>El Taxista</strong>: Hole in the wall restaurant only open in the morning and afternoon. Super cheap. Super good. One of the places that has a fixed menu and just gives you a tray of food.</li>
				<li>Cafetera Restaurante la Casa de Beto - Similar to taxista. </li>
			</ul>

			<h3>Good for Drink</h3>

			<ul>
				<li>BBC - Pub Medellin - Good for beer, casual hangout</li>
				<li>Envy Rooftop - Beautiful views. Upscale.</li>
				<li>OCI.mde - Nice vibes. Good food.</li>
				<li>Click Clack Hotel - If you can get on the roof its got a great vibe</li>
			</ul>
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>