<section id="photos">
	<header>
		<h1>Music</h1>
	</header>
<section class="container">
	<div class="row">
		<div class="col-sm col-lg justify-content-center">
			<iframe width="440" height="248" src="https://www.youtube.com/embed/yb-yW_VSI2o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm col-lg justify-content-center">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm col-lg justify-content-center">
			<!-- <iframe width="336" height="189" src="https://www.youtube.com/embed/A8ta41cMJxA" frameborder="0" allowfullscreen></iframe> -->
		</div>
	</div>
</section>
<hr>
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/" ng-click="selectNewPage()">Home</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
	</div>
	</footer>
</section>