<section id="photos">
	<header>
		<h1>Music</h1>
	</header>
<section class="container">
	<div class="row col justify-content-center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/yb-yW_VSI2o?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<hr>
	<div class="row col justify-content-center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/zTpoIHuzyYs" frameborder="0" allowfullscreen></iframe>
	</div>
	<hr>
	<div class="row col justify-content-center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/A8ta41cMJxA" frameborder="0" allowfullscreen></iframe>
	</div>
</section>
<hr>
	<footer class="container links">
	<div class="row">
		<a class="col text-center" href="#/" ng-click="selectMainPage()">Home</a>
		<a class="col text-center" href="#/photos" ng-click="selectPhotoPage()">Photos</a>
		<a class="col text-center" href="#/music" ng-click="selectMusicPage()">Music </a>
		<a class="col text-center" href="#/writing" ng-click="selectWritingPage()">Writing </a>
	</div>
	</footer>
</section>