<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Peru</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 

			<h2>Itinerary</h2>

			<p> Days 1-2: Lima, Peru <br>
				Days 3-4: Acclimitization in Cusco <br>
				Days 5-10: Trekking to Machu Pichu <br>
				Days 10-11: Ollaytaytambo 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h2>Lima, Peru</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel body">
			<img src="/images/peru/lima.jpg" class="img-fluid text-center" />
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<p>
				The capital of Peru, Lima is a pretty big city, and easy to get overwhelmed with what there is to do. That being said, I spent about two days there and felt pretty good about what we got done.
			</p>
			<p>
				I stayed in an AirBnB in Miraflores, which is in walking distance to a lot of parks and the ocean (and also generally known as a safer neighborhood). It was pretty easy to get a taxi from the airport, and I just insisted on the meter being on for the taxi.
			</p>
			<p>
				From the AirBnb it was a short walk to a huge park called Parque Central De Miraflores. Great people watching there, and when I was there, there were street performers in the park, as well as art installations surrounding.
			</p>
			<p>
				I was taken aback by the overall beauty of Miraflores and by how well the city incorporates trees and nature into the architeture. We passed by tons of parks and greenery on our way to the ocean (we went to the Parque Amor, which was right on the water, but there were a ton of parks and I'd just recommend walking to the one closest to you)
			</p>
			<p>
				Walking along the ocean on the park side, next to the Malecon, was overall a really pleasant walk. It's really a cool view of the cliff on one side and the ocaen on the other. If you're there in the summer, there are tons of beaches along the walk. I saw a lot of people sun bathing, but no one really in the water when I was there in April.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h2>Cusco, Peru</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="/images/peru/cusco.jpg" class="img-fluid" />
		</div>
		<div class="col">
			<img src="/images/peru/cusco-2.jpg" class="img-fluid"/>
		</div>
		<div class="col">
			<img src="/images/peru/cusco-3.jpg" class="img-fluid" />
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/" ng-click="selectNewPage()">Home</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
	</div>
	</footer>
</section>