<section id="travel-post">
	<header>
		<div class="container row">
			<div class="col-2">
				<a href="#/travel" class="page-link back-header" aria-label="Back"> Back </a>
			</div>
			<div class="col-8">
				<h1 class="travel-header">Peru</h1>
			</div>
		</div>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-12 travel-body"> 

			<h2>Itinerary</h2>

			<p> <a href="#lima" target="_self"> Days 1-2: Lima, Peru </a><br>
				<a href="#cusco"> Days 3-4: Acclimitization in Cusco </a> <br>
				<a href="#trek"> Days 5-10: Trekking to Machu Pichu </a><br>
				Days 10-11: Ollaytaytambo 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 

			<h2>Essentials</h2>

			<p> Food: Ceviche (fish cooked in acid), Rotisserie Chicken <br>
				Drink: Pisco Sour (alcohol, refreshing), Coco Tea (tea made from the leaves that also make cocaine)<br>
				Tickets: Buy tickets for Machu Picchu IN ADVANCE (<a href="https://www.machupicchu.gob.pe/inicio">Official Ticket Sales</a>). When you buy the tickets there are two additional options, to add the Mountain hike or Huayna Picchu. Huayna Picchu is the hike to the top of what you see in all the classic "Machu Picchu photos". The Mountain willl get you MUCHHHH higher, to the point of being in the clouds. There is no wrong choice. <br> 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h2><a name="lima">Lima, Peru</a></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel body">
			<img src="/images/peru/lima.jpg" class="img-fluid text-center" />
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<p>
				The capital of Peru, Lima is a pretty big city, and easy to get overwhelmed with what there is to do. That being said, I spent about two days there and felt pretty good about what we got done.
			</p>
			<p>
				I stayed in an AirBnB in Miraflores, which is in walking distance to a lot of parks and the ocean (and also generally known as a safer neighborhood). It was pretty easy to get a taxi from the airport, and I just insisted on the meter being on for the taxi.
			</p>
			<p>
				From the AirBnb it was a short walk to a huge park called Parque Central De Miraflores. Great people watching there, and when I was there, there were street performers in the park, as well as art installations surrounding.
			</p>
			<p>
				I was taken aback by the overall beauty of Miraflores and by how well the city incorporates trees and nature into the architeture. We passed by tons of parks and greenery on our way to the ocean (we went to the Parque Amor, which was right on the water, but there were a ton of parks and I'd just recommend walking to the one closest to you)
			</p>
			<p>
				Walking along the ocean on the park side, next to the Malecon, was overall a really pleasant walk. It's really a cool view of the cliff on one side and the ocaen on the other. If you're there in the summer, there are tons of beaches along the walk. I saw a lot of people sun bathing, but no one really in the water when I was there in April.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 
			<h2>Cusco to Machu Picchu</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="/images/peru/cusco-1.jpg" class="img-fluid" />
		</div>
		<div class="col">
			<img src="/images/peru/cusco-2.jpg" class="img-fluid"/>
		</div>
		<div class="col">
			<img src="/images/peru/cusco-3.jpg" class="img-fluid" />
		</div>
	</div>
	<div class="row">
		<div class="col-12 travel-body"> 

			<h3>Overview</h3>

			<ul>
				<li><a href="#cusco1">Acclimation Day (explore Cusco, get Ceviche, drink coco tea)</a></li>
				<li><a href="#cusco2"> Acclimation Day (walked to ruins near Cusco)</a></li>
				<li><a href="#trek1">Salkantay Day 1</a></li>
				<li><a href="#trek2">Salkantay Day 2</a></li>
				<li><a href="#trek3">Salkantay Day 3</a></li>
				<li><a href="#trek4">Salkantay Day 4</a></li>
				<li><a href="#trek5">Machu Picchu</a></li>
				<li>Ollaytanmbo</li>
			</ul>

			<h3><a name="cusco"><a name="cusco1">Day 1: Acclimation in Cusco</a></a></h3>

			<div class="row">
				<div class="col-12">
					<img src="/images/peru/cusco-4.jpg" class="img-fluid" />
				</div>
			</div>

			<p>Cusco is a beautiful pueblo, with a lot of charm (despite the mass amount of tourists and solicitors walking the streets). Day 1, we just walked around a lot, exploring the town. The architecture is very Native American, and the roads seemingly never ending. We just kept walking up and up and seemed to find great viewpoints the whole time.</p>

			<p>The center of Cusco’s tourist district is Plaza Mayor del Cusco. They have military parades every Sunday (or so they told us) and you’ll find a host of relatively expensive, yet good, restaurants. We personally tried to avoid this area because the solicitors were downright aggressive and it was almost a mood killer having to say no thank you thousands of times. It’s still worth a look at the beginning of the trip.</p>

			<p>We hiked up towards Qorikancha, a cool old Incan ruin and explored some of the city before going to bed relatively early. The altitude sickness was difficult.</p>

			<h3><a name="cusco2">Day 2: Acclimation in Cusco</a></h3>

			<div class="row">
				<div class="col">
					<img src="/images/peru/cusco-5.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/peru/cusco-6.jpg" class="img-fluid" />
				</div>
			</div>

			<p>This day we tried to test ourselves a little bit more by doing a bit more hiking/walking to prepare ourselves for the trek that was planned for later.</p>

			<p>We hiked to the Mirador desde el Cristo Blanco, a beautiful viewpoint looking over the city. Along the way you pass more Inca ruins with locals walking about with their alpacas, always ready for a photo op.</p>

			<p>The ruins were named Saqsaywaman and were actually pretty cool, not as packed as Machu Picchu would be later, and the views of Cusco were worth it if nothing else. There was a small entrance fee that we paid, but I thought it was worth it.</p>

			<p>GET LUNCH/DINNER AT SUPER POLLO at some point. It was cheap, great portion size, and very very good. We went like 3 times because it was that good.</p>

			<h2><a name="trek">Salkantay </h2>

			<p>This was the long hike up to Aguas Calientes, the pueblo underneath Machu Picchu. It took us 5 days and 4 night (including Machu Picchu) and was about 80 km.</p>

			<p>The first two days were almost all uphill, and could be very steep, whereas the last 3 were more neutral.</p>

			<p>The altitude is a major challenge, we found ourselves getting tired faster than usual and had some pretty annoying headaches the first few days.</p>

			<p>There are tons of groups that do guided tours but we just brought our own sleeping bags and a tent and did it ourselves. Paths were easy to follow and could be tracked on maps.me (a great map app that lets you download offline versions of maps). We would get to the little villages (village is almost an overstatement) and just pay locals to put our tent up in their yard and for them to make us food (they were very used tot his activity it seemed, we encountered no problems and it was very cheap. Max 2 USD for the tent and 5 USD for a meal)</p>

			<p>All in all though, an amazing trek. Well worth all the inconveniences.</p>

			<h3><a name="trek1">Salkantay Trek: Day 1</a></h3>

			<div class="row">
				<div class="col">
					<img src="/images/peru/cusco-7.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/peru/cusco-8.jpg" class="img-fluid" />
				</div>
			</div>

			<p>We took a collectivo (small bus that is really just a van, but it’s public transportation) to Mollepata, which is where we started the hike.</p>

			<p>Signs are easy to follow, but the hike was incredibly difficult. We trekked almost 12 miles, all uphill to Soraypampa, where we finally were able to throw off our bags. It took us around 8 hours, essentially a work shift.</p>

			<p>Once we threw off our bags, we went to go look at the Mirror Lake, about an extra mile up a very steep hill. </p>

			<p>No matter how tired you are, make sure you do this. It was absolutely breathtaking. The mirror lake is so clear you could rotate pictures you took and not be sure which was the reflection in the water and which was the reality.</p>

			<p>We then went back to our campground at Soraypampa (which featured sheltered tiki-looking things) and went to bed.</p>

			<h3><a name="trek2">Salkantay Trek: Day 2</a></h3>

			<div class="row">
				<div class="col">
					<img src="/images/peru/cusco-9.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/peru/cusco-10.jpg" class="img-fluid" />
				</div>
			</div>

			<p>We hiked over the Salkantay Pass this day, the single hardest and steepest part of the whole trek. Make sure you have water before you try this part, we moved very slowly across because it was almost like a staircase for a solid hour or so. Once you cross the pass you reach the top elevation for the hike, around 4580 meters!!!!</p>

			<p>It’s downhill from there (hikewise, not view wise) as we hiked into Collpapampa to set up camp.</p>

			<p>This day took about 8-9 hours of hiking.</p>

			<h3><a name="trek3">Salkantay Trek: Day 3</a></h3>

			<div class="row">
				<div class="col">
					<img src="/images/peru/cusco-11.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/peru/cusco-12.jpg" class="img-fluid" />
				</div>
			</div>

			<p>From Collpapampa, we hiked too Llactapata, a far more casual day, with regards to elevation change, but still fairly long. The views were spectacular throughout, as it seemed the biome completely changed. </p>

			<p>Parts of this hike felt like we were in a jungle of sorts, and at the top of a particular hill, we had the best coffee off our lives from a family that lived there.</p>

			<p>Llactapata is a bit past and uphill from La Playa, a relatively large town, but well worth the extra walk. It was there that you can see Machu Picchu for the first time, out in the distance.</p>

			<p>The day took about 7.5 hours of hiking.</p>

			<h3><a name="trek4">Salkantay Trek: Day 4</a></h3>

			<div class="row">
				<div class="col">
					<img src="/images/peru/cusco-13.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/peru/cusco-14.jpg" class="img-fluid" />
				</div>
			</div>

			<p>The easiest (and most boring day of the trek), pretty flat and downhill, with a fair portion just along a railroad, as we trekked towards Aguas Calientes. </p>

			<p>Aguas Calientes is a proper town, fit with hotels and grocery stores and full of tourists and tour groups.</p>

			<p>We were so tired we slept the majority of the day once we got back, which was pretty early since this day only took around 4 hours. </p>

			<h3><a name="trek5">Machu Picchu</a></h3>

			<div class="row">
				<div class="col">
					<img src="/images/peru/cusco-15.jpg" class="img-fluid" />
				</div>
				<div class="col">
					<img src="/images/peru/cusco-16.jpg" class="img-fluid" />
				</div>
			</div>

			<p>We were tired of walking so we just bought tickets for the bus to Machu Picchu which leaves from town. Buy your tickets in advance and get to the buses EARLY, as everyone is trying to go early to maximize the time, but with good reason. Machu Picchu is huge.</p>

			<p>If you want to do auxiliary hikes within Machu Picchu you have to purchase that in advance, as they also tend to sell out.</p>
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
		<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
	</div>
	</footer>
</section>