<section id="photos">
	<header>
		<h1>Photos</h1>
	</header>
<section class="container-fluid">
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/89.jpg" data-lightbox="catalog" data-title="Woman takes photo of the American Gothic, Chicago, IL"><img src="images/89-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/88.jpg" data-lightbox="catalog" data-title="Chicago, IL"><img src="images/88-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/87.jpg" data-lightbox="catalog" data-title="Hudson Yards, New York, New York"> <img src="images/87-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/86.jpg" data-lightbox="catalog" data-title="Peace in the digital age, Highline, NYC"><img src="images/86-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/85.jpg" data-lightbox="catalog" data-title="Child skimboarding in Costa Rica"><img src="images/85-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/84.jpg" data-lightbox="catalog" data-title="Petals fallen from tree, Costa Rica"> <img src="images/84-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/83.jpg" data-lightbox="catalog" data-title="The Louvre, Paris, France"><img src="images/83-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/82.jpg" data-lightbox="catalog" data-title="People take photos of the Mona Lisa, The Louvre, Paris"><img src="images/82-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/81.jpg" data-lightbox="catalog" data-title="The Eiffel Tower, Paris, France"> <img src="images/81-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/80.jpg" data-lightbox="catalog" data-title="Bussana Vecchia, Italy"><img src="images/80-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/79.jpg" data-lightbox="catalog" data-title="Cinque Terre, Italy"><img src="images/79-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/78.jpg" data-lightbox="catalog" data-title="Riomaggiore, Cinque Terre, at night"> <img src="images/78-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div><div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/77.jpg" data-lightbox="catalog" data-title="Monastery high above the Cinque Terre villages"><img src="images/77-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/76.jpg" data-lightbox="catalog" data-title="Aerial View of Riomaggiore Beach"><img src="images/76-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/75.jpg" data-lightbox="catalog" data-title="Streets in Barcelona, Catalonia, ESP"> <img src="images/75-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div><div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/74.jpg" data-lightbox="catalog" data-title="Florence, Italy"><img src="images/74-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/73.jpg" data-lightbox="catalog" data-title="A lone tree, Budapest, Hungary"><img src="images/73-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/72.jpg" data-lightbox="catalog" data-title="Iceland was cold"> <img src="images/72-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div><div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/71-thumb.jpg" data-lightbox="catalog" data-title="Black Sand Beach at Vik, speckled with snow, Iceland"><img src="images/71-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/70.jpg" data-lightbox="catalog" data-title="Iceland Horizon"><img src="images/70-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/69.jpg" data-lightbox="catalog" data-title="Iceland Roads"> <img src="images/69-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div><div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/68.jpg" data-lightbox="catalog" data-title="Ireland Countryside"><img src="images/68-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/67.jpg" data-lightbox="catalog" data-title="Guiness Warehouse, Dublin, Ireland"><img src="images/67-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/66.jpg" data-lightbox="catalog" data-title="A kid scrambles to get a better look at a climate change march in Dublin, Ireland"> <img src="images/66-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div><div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/65.jpg" data-lightbox="catalog" data-title="Portraits in Cete, Portugal, outside Porto"><img src="images/65-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/64.jpg" data-lightbox="catalog" data-title="Livraria, Porto, Portugal"><img src="images/64-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/63.jpg" data-lightbox="catalog" data-title="Porto, Portugal"> <img src="images/63-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div><div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/62.jpg" data-lightbox="catalog" data-title="Door at a old palace in Sintra, Portugal"><img src="images/62-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/61.jpg" data-lightbox="catalog" data-title="Light catches a building in Madrid, Spain"><img src="images/61-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<a href="images/90.jpg" data-lightbox="catalog" data-title="Fishing Boat seen in Vietnam"><img src="images/90-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/58.jpg" data-lightbox="catalog" data-title="Trumpeter playing in New Orleans, LA"><img src="images/58-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/59.jpg" data-lightbox="catalog" data-title="Cigar for the New Year 2019"><img src="images/59-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/60.jpg" data-lightbox="catalog" data-title="Prayers burn in Vietnam"> <img src="images/60-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/55.jpg" data-lightbox="catalog" data-title="A crowd of people gather to watch a street performer in La Candelaria, Bogota"><img src="images/55-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/56.jpg" data-lightbox="catalog" data-title="La Ciudad Murrelada, Cartagena"><img src="images/56-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/57.jpg" data-lightbox="catalog" data-title="Cartagena, Colombia"> <img src="images/57-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/52.jpg" data-lightbox="catalog" data-title="Portland Headlight, ME"><img src="images/52-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/53.jpg" data-lightbox="catalog" data-title="Portland, ME"><img src="images/53-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/54.jpg" data-lightbox="catalog" data-title="4,000 footer in New Hampshire"> <img src="images/54-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/49.jpg" data-lightbox="catalog" data-title="The Western Wall, Jerusalem, Israel"><img src="images/49-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/50.jpg" data-lightbox="catalog" data-title="Bhino and Shaq, Norfolk, VA"><img src="images/50-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/51.jpg" data-lightbox="catalog" data-title="Water Skiing in New Hampshire"> <img src="images/51-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/46.jpg" data-lightbox="catalog" data-title="Machu Picchu, Aguas Calientes, Peru"><img src="images/46-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/47.jpg" data-lightbox="catalog" data-title="Old City of Jerusalem, Israel"><img src="images/47-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/48.jpg" data-lightbox="catalog" data-title="The Western Wall, Jerusalem, Israel"> <img src="images/48-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/45.jpg" data-lightbox="catalog" data-title="The Mountain, Aguas Calientes, Peru"><img src="images/45-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/44.jpg" data-lightbox="catalog" data-title="Gum Wall, Seattle, WA, USA"><img src="images/44-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/43.jpg" data-lightbox="catalog" data-title="The Getty, Los Angeles, CA, USA"> <img src="images/43-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/42.jpg" data-lightbox="catalog" data-title="Los Angeles, CA, USA"><img src="images/42-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/41.jpg" data-lightbox="catalog" data-title="Santa Barbara, CA, USA"><img src="images/41-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/40.jpg" data-lightbox="catalog" data-title="Venice Beach, Los Angeles, CA, USA"> <img src="images/40-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/39.jpg" data-lightbox="catalog" data-title="Santa Monica Pier, CA"><img src="images/39-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/38.jpg" data-lightbox="catalog" data-title="Big Sur, CA, USA"><img src="images/38-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/37.jpg" data-lightbox="catalog" data-title="Big Sur, CA, USA"> <img src="images/37-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/28.jpg" data-lightbox="catalog" data-title="Maymont Nature Park, Richmond, VA"><img src="images/28-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/29.jpg" data-lightbox="catalog" data-title="Seattle, Washington, USA"><img src="images/29-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/30.jpg" data-lightbox="catalog" data-title="Yosemite National Park, CA, USA"> <img src="images/30-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/31.jpg" data-lightbox="catalog" data-title="Yosemite National Park, CA, USA"><img src="images/31-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/32.jpg" data-lightbox="catalog" data-title="Yosemite National Park, CA, USA"><img src="images/32-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/33.jpg" data-lightbox="catalog" data-title="Yosemite National Park, CA, USA"> <img src="images/33-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/34.jpg" data-lightbox="catalog" data-title="Monterey, CA, USA"><img src="images/34-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/35.jpg" data-lightbox="catalog" data-title="Pacific Highway, CA, USA"><img src="images/35-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/36.jpg" data-lightbox="catalog" data-title="Carmel-By-The-Sea, CA, USA"> <img src="images/36-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/25.jpg" data-lightbox="catalog" data-title="Day 3, Salkantay Trek, Cusco, Peru"><img src="images/25-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/26.jpg" data-lightbox="catalog" data-title="Day 2, Salkantay Trek, Cusco, Peru"><img src="images/26-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/27.jpg" data-lightbox="catalog" data-title="Old San Juan, Puerto Rico"> <img src="images/27-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/22.jpg" data-lightbox="catalog" data-title="Historic Cusco, Peru"><img src="images/22-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/23.jpg" data-lightbox="catalog" data-title="Day 1, Salkantay Trek, Cusco, Peru"><img src="images/23-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/24.jpg" data-lightbox="catalog" data-title="Day 2, Salkantay Trek, Cusco, Peru"> <img src="images/24-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="images/1.jpg" data-lightbox="catalog" data-title="Angkor Wat, Cambodia"><img src="images/1.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/2.jpg" data-lightbox="catalog" data-title="Lake Eola x Orlando, FL"><img src="images/2.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/3.jpg" data-lightbox="catalog" data-title="Telico Plains, TN"><img src="images/3.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm">
			<a href="images/4.jpg" data-lightbox="catalog" data-title="Royal Museum of Art x Toronto, Canada."><img src="images/4.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/5.jpg" data-lightbox="catalog" data-title="University of Toronto x Toronto, Canada."><img src="images/5.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/6.jpg" data-lightbox="catalog" data-title="Traffic in Toronto, Canada."><img src="images/6.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="images/7.jpg" data-lightbox="catalog" data-title="Rescued Elephant in Elephant Nature Park, Chiang Mai, Thailand"><img src="images/7.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/8.jpg" data-lightbox="catalog" data-title="The Village Cafe, Richmond, VA"><img src="images/8.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/9.jpg" data-lightbox="catalog" data-title="Niagara Falls, Canada Side"><img src="images/9.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a href="images/10.jpg" data-lightbox="catalog" data-title="Floating Village, Siem Reap, Cambodia"><img src="images/10.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/11.jpg" data-lightbox="catalog" data-title="Bai Tu Long Bay, Vietnam"><img src="images/11.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
		<div class="col-sm">
			<a href="images/12.jpg" data-lightbox="catalog" data-title="Lake Eola, Orlando, FL"><img src="images/12.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/13.jpg" data-lightbox="catalog" data-title="Spy Rock, VA"><img src="images/13.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/14.jpg" data-lightbox="catalog" data-title="Boston Courthouse, Boston, MA"><img src="images/14.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		<div class="col-sm">
			<div class="thumbnail">
			<a href="images/16.jpg" data-lightbox="catalog" data-title="Marina Bay Sands, Singapore"><img src="images/16.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </a>
			</div>
		</div>
		</div>
	</div>
</section>
<hr>
	<footer class="container links">
	<div class="row">
		 
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">About Me</a>
		<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
	</div>
	</footer>
</section>