<section id="store">
	<header>
		<h1>Shop Original Prints</h1>
		<h6>Custom sizing/frames/prints can be arranged via <a href="mailto:davidbecher95@gmail.com?subject=Custom%20Print%20Order">email</a></h6>
	</header>
<section class="container-fluid">
	<div class="row">
		
		<div class="col-sm">
			<a href="#/store/halong_bay">
				<div class="thumbnail"><img src="images/11-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </div> <br>
				<div class="store-title">  Halong Bay, Vietnam </div>  <br>
				<div class="store-price"> from $24.99 </div>
			</a>
		</div>

		<div class="col-sm">
				<div class="thumbnail"><img src="images/19-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </div> <br>
				<div class="store-title"> <a href="#/store/halong_bay"> Flowers Grow Everywhere, Peru </a> </div>  <br>
				<div class="store-price"> from $24.99 </div>
		</div>

		<div class="col-sm">
				<div class="thumbnail"><img src="images/16-thumb.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </div> <br>
				<div class="store-title"> <a href="#/store/halong_bay"> Marina Bay Sands, Singapore </a> </div>  <br>
				<div class="store-price"> from $24.99 </div>
		</div>

		

	</div>

</section>
<hr>
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/" ng-click="selectNewPage()">Home</a>
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">About Me</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
	</div>
	</footer>
</section>