<section id="store" class="container-fluid">
	<header>
		<div class="row store-header">
			<div class="col-sm">
				<h1>Order Received</h1>
			</div>
		</div>
		<div class="row-col">
			<h6>For any questions, please <a href="mailto:davidbecher95@gmail.com?subject=Custom%20Print%20Order">email davidbecher95@gmail.com</a></h6>
		</div>
	</header>
		
<section class="container-fluid">
	<div class="row">
		
		<div class="col-sm">
			<p> Thank you so much for your order. 
				It will be processed and shipped out as soon as possible. <br> - David Becher </p>
		</div>
	</div>
</section>
<hr>
	<footer class="container links">
		<div class="row">
			 
			<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">Me</a>
			<a class="col-sm text-center" href="#/store" ng-click="selectNewPage()">Store</a>
			<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
			<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
			<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
			<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
			<a class="col-sm text-center" href="#/black-lives-matter" ng-click="selectNewPage()">BLM </a>
		</div>
	</footer>
</section>