<section id="travel">
	<header>
		<h1>Travel</h1>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 figure"> 
			<div class="card text-white border-dark">
			  <img class="card-img" src="images/thailand-card.jpg" alt="Thailand Card">
			  <div class="card-img-overlay">
			    <h2 class="card-title">Thailand</h2>
			    <p class="card-text">A beautiful country with rich culture, pleasant people, amazing food, and plenty of opportunity for adventure.</p>
			    <p class="card-text">Last visited August 2017</p> 
			    <p>
			    	<a href="#/thailand" class="card-text">Keep Reading..</a>
			    </p>
			  </div>
			</div>
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/" ng-click="selectNewPage()">Home</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
	</div>
	</footer>
</section>