<section id="travel">
	<header>
		<h1>Travel</h1>
		<hr>
	</header>
<section class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 figure"> 
			<div class="card text-white border-dark">
				<a href="#/thailand" ng-click="selectedTravelPost()">
			  <img class="card-img" src="images/card-thailand.jpg" alt="Thailand Card">
			  <div class="card-img-overlay">
			    <h2 class="card-title">Thailand</h2>
			    <p class="card-text"> Keep Reading..</p>
			  </div>
			</a>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 figure"> 
			<div class="card text-white border-dark">
				<a href="#/peru" ng-click="selectedTravelPost()">
			  <img class="card-img" src="images/card-peru.jpg" alt="Peru Card">
			  <div class="card-img-overlay">
			    <h2 class="card-title">Peru</h2>
			    <p class="card-text"> Keep Reading..</p>
			  </div>
			</a>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 figure"> 
			<div class="card text-white border-dark">
				<a href="#/colombia" ng-click="selectedTravelPost()">
			  <img class="card-img" src="images/card-colombia.jpg" alt="Colombia Card">
			  <div class="card-img-overlay">
			    <h2 class="card-title">Colombia</h2>
			    <p class="card-text"> Keep Reading..</p>
			  </div>
			</a>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12 figure"> 
			<div class="card text-white border-dark">
				<a href="#/chicago" ng-click="selectedTravelPost()">
			  <img class="card-img" src="images/card-chicago.jpg" alt="Chicago Card">
			  <div class="card-img-overlay">
			    <h2 class="card-title">Chicago</h2>
		    	<p class="card-text"> Keep Reading..</p>
			  </div>
			  </a>
			</div>
		</div>
	</div>
</section>
	<hr />
	<footer class="container links">
	<div class="row">
		<a class="col-sm text-center" href="#/" ng-click="selectNewPage()">Home</a>
		<a class="col-sm text-center" href="#/about" ng-click="selectNewPage()">About Me</a>
		<a class="col-sm text-center" href="#/photos" ng-click="selectNewPage()">Photos</a>
		<a class="col-sm text-center" href="#/music" ng-click="selectNewPage()">Music </a>
		<a class="col-sm text-center" href="#/writing" ng-click="selectNewPage()">Writing </a>
		<a class="col-sm text-center" href="#/travel" ng-click="selectNewPage()">Travel </a>
	</div>
	</footer>
</section>