<section id="store">
	<header>
		<h1 ng-model="$ctrl.store-item">Halong Bay</h1>
		<h6>Vietnam</h6>

	</header>

	<section class="container-fluid" id="store-item">
		<div class="row">
			
			<div class="col-md">
				<div class="thumbnail"> <img src="images/11.jpg" class="lazy img-fluid thumb" alt="Responsive image"> </img> </div>
			</div>


			<div class="col-md">
				<div class="row">
					<div class="store-item-description"> <p> 
						taken in 2017 on the indochina junk cruise to Bai Tu Long Bay. <br> <br> 
						shot on nikon d3400, nikkor 35mm f/1.8 <br> 
						1/200 | f/7  </p> </div>
				</div>
				<div class="row">
					<div class="store-item-price"> 
						<select id="store-item-size" ng-model="$ctrl.price">
				          <option value="canvas"> 3 x 12"x24" Canvas - $199.99</option>
				          <option value="print"> 16" x 9" Framed Print - $49.99 </option>
				          <option value="small-print"> 9.6" x 5.4" Small Print - $24.99 </option>
				        </select>
        	 		</div> 
				</div>
				<div class="row">
					
				</div>
			</div>

		</div>
	</section>

	<hr>

</section>